@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
   
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>SATIŞ ID</th>
        <th>ÜRÜN</th>
        <th>PERSONEL</th>
        <th>CARİ</th>
        <th>FİYAT</th>
        <th>ADET</th>
        <th>TOPLAM</th>
        <th>TARİH</th>
        <th style="color:darkmagenta">SATIŞLAR</th>
        <th style="color:darkgoldenrod">GÜNCELLE</th>
    </tr>
    @foreach (var sat in Model)
    {

<tr>
    <td>        @sat.Satisid  </td>
    <td>        @sat.Urun.Urunad  </td>
    <td>       @sat.Personel.PersonelAd @sat.Personel.PersonelSoyad  </td>
    <td>      @sat.Cariler.CariAd @sat.Cariler.CariSoyad  </td>
    <td>    @sat.Fiyat  </td>
    <td>    @sat.Adet  </td>

    <td>    @sat.ToplamTutar  </td>

    <td> @sat.Tarih.ToShortDateString()</td>

    <td><a href="/Satis/SatisDetay/@sat.Satisid" class="btn btn-info" style="background-color:mediumpurple">Detaylar</a></td>
    <td><a href="/Satis/SatisGetir/@sat.Satisid" class="btn btn-warning">Güncelle</a></td>

</tr>
    }
</table>
<a href="/Satis/YeniSatis" class="btn btn-success">Yeni Satış Yap</a>