@model MvcOnlineTicariOtomasyon.Models.Sınıflar.SatisHareket
   
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Satış Sayfası</h2>
<br />

<form class="form-group" method="post">


    @Html.Label("Ürün Adı")
    @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

    <br />
    @Html.Label("Personel")
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })

    <br />
    @Html.Label("Cari")
    @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.Label("Fiyat")
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Fiyat, "", new { @style = "color:red" })
    <br />
    @Html.Label("Adet")
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Adet, "", new { @style = "color:red" })

    <br />
    @Html.Label("Toplam Tutar")
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ToplamTutar, "", new { @style = "color:red" })


    <br />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <button class="btn btn-success" id="btn1">Kaydet</button>
    <script>
        $('#btn1').click(function () {
            swal("Kayıt başarıyla yapıldı.");
        })
    </script>

</form>