@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Cariler
@{
    ViewBag.Title = "CariEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Cari Sayfası</h2>
<br />

<form class="form-group" method="post">


    @Html.Label("Cari Adı")

    @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariAd, "", new { @style = "color:red" })
    <br />
    @Html.Label("Cari Soyadı")
    @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariSoyad, "", new { @style = "color:red" })
    <br />
    @Html.Label("Cari Şehiri")
    @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariSehir, "", new { @style = "color:red" })
    <br />
    @Html.Label("Cari Maili")
    @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariMail, "", new { @style = "color:red" })
    <br />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <button class="btn btn-success" id="btn1">Kaydet</button>
    <script>
        $('#btn1').click(function () {
            swal("Kayıt başarıyla yapıldı.");
        })
    </script>
</form>